/* GLOBAL */

html, body {
    height: 100;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #5c5b5b;
    font-family: 'Avenir', sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bg-gray-blue {
    background-color: #6a7b8b;
}

.main-body-section {
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.main-body-section h1, .main-body-section h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

.main-body-section h1 {
    color: #f5f5f5;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 0px 5px 10px #5c5b5b;
}

.main-body-section h2 {
    color: #5c5b5b;
    font-size: 4rem;
}

.main-body-section h3 {
    font-size: 2.5rem;
    color: #5c5b5b;
}

.main-body-section h4 {
    color: #5c5b5b;
    font-size: 3rem;
}

.extra-padding {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.extra-margin-h {
    margin-right: 6%;
    margin-left: 6%;
}

.extra-margin-h-more {
    margin-right: 15%;
    margin-left: 15%;
}

.extra-margin-v {
    margin-bottom: 4%;
}
  

/* NAVIGATION BAR */

.navbar{
    height: 7.75rem;
    color: #f5f5f5;
    padding: 0;
}

.navbar-icon {
    height: 5.3rem;
    padding-left: 3rem;
}

.navbar-links {
    margin-right: 3rem;
}

.navbar-links a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f2f2f2;
    letter-spacing: 1px;
    padding-right: 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #5c5b5b;
}

.navbar-links a:active {
    color: #5c5b5b;
}


/* HEADER LOGO */

.header {
    margin-top: 0%;
    margin-bottom: 0%;
}

.mrcoffee-logo {
    width: 17%;
}

/* BUTTON */

.button {
    margin-top: 8rem;
    height: 7.5rem;
    border-width: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem #5c5b5b;
}

.button h2 {
    /* top right bottom left */
    margin: 1.5rem 7rem 1.5rem 7rem;
    font-size: 2.5rem;
    color: #f5f5f5;
}


/* CAFETERIA DESCRIPTION */

.opening-hours-icon {
    width: 10rem;
    height: 10rem;
}

.opening-hours-label {
    margin-bottom: 7%;
}


/* FOOTER */

.footer {
    height: 13.5rem;
    color: #f5f5f5;
    letter-spacing: 1px;
}

.footer h5 {
    color: #f5f5f5;
    line-height: 3.5rem;
    font-size: 1.5rem;
}
  
.footer-icon {
    float: left;
    height: 7.5rem;
    padding-left: 5rem;
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footer-links img {
    height: 3rem;
    width: 3rem;
    margin-right: 3rem;
}