/* GLOBAL */

html, body {
    height: 100;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #5c5b5b;
    font-family: 'Avenir', sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    text-align: center;
}

.main-content-section {
    margin-right: 5%;
    margin-left: 5%;
}

h1 {
    font-size: 3rem;
}

.bold {
    font-weight: bold;
}
  

/* NAVIGATION BAR */

.navbar{
    height: 6rem;
    color: #f5f5f5;
    background-color: #6a7b8b;
    padding: 0;
}

.navbar-icon {
    height: 4rem;
    padding-left: 2rem;
}

.navbar-links {
    margin-right: 2rem;
}

.navbar-links a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #f2f2f2;
    letter-spacing: 1px;
    padding-right: 2rem;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #5c5b5b;
}

.navbar-links a:active {
    color: #5c5b5b;
}


/* HEADER */

header {
    margin-top: 6rem;
    text-align: center;
}
  
.mrcoffee-logo {
    width: 20%;
}


/* FOOTER */

.footer{
    height: 8rem;
    color: #f5f5f5;
    letter-spacing: 1px;
    background-color: #6a7b8b;
}
  
.footer-icon {
    float: left;
    height: 4rem;
    padding-left: 2rem;
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footer-links img {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
}