/* GLOBAL */

html, body {
    height: 100;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #5c5b5b;
    font-family: 'Avenir', sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bg-gray-blue {
    background-color: #6a7b8b;
}



/* NAVIGATION BAR */

.navbar{
    height: 7.75rem;
    color: #f5f5f5;
    padding: 0;
}

.navbar-icon {
    height: 5.3rem;
    padding-left: 3rem;
}

.navbar-links {
    margin-right: 3rem;
}

.navbar-links a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f2f2f2;
    letter-spacing: 1px;
    padding-right: 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #5c5b5b;
}

.navbar-links a:active {
    color: #5c5b5b;
}



/* HEADER - MR COFFEE LOGO */

.header {
    margin-top: 0%;
    margin-bottom: 0%;
}

.mrcoffee-logo {
    width: 13%;
}



/* MAIN BODY SECTION */

.main-body-section {
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.extra-padding {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.extra-margin-h {
    margin-right: 6%;
    margin-left: 6%;
}

.extra-margin-h-more {
    margin-right: 20%;
    margin-left: 20%;
}

.extra-margin-bottom {
    margin-bottom: 6%;
}

.extra-margin-bottom-2 {
    margin-bottom: 2%;
}

.extra-margin-top {
    padding-top: 2%;
}

.negative-top-margin {
    margin-top: -2.5%;
}

/* headlines @ home page & contact page */
.main-body-section h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 4rem;
    line-height: 5rem;
    color: #5c5b5b;
}

/* bottom line @ home page */
.main-body-section h3 {
    font-size: 3rem;
    color: #5c5b5b;
}

/* headlines @ gray thingies @ home page */
.main-body-section h4 {
    color: #f5f5f5;
    font-size: 2.5rem;
    text-shadow: 1px 1px 6px #5c5b5b;
}

/* text @ gray thingies @ home page */
.main-body-section h5 {
    color: #f5f5f5;
    line-height: 2rem;
    font-size: 1.5rem;
}

/* text @ home page, about page */
.main-body-section p {
    color: #5c5b5b;
    font-size: 2.5rem;
}



/* MAIN BODY SECTION ITEMS */


/* CAFETERIA PHOTO */

.card-heading {
    margin-top: 5%;
    margin-bottom: 2%;
    line-height: 5rem;
    color: #f5f5f5;
    font-size: 4rem;
    text-shadow: 0px 5px 10px #5c5b5b;
}


/* 3 THINGIES */

.three-thingies {
    background-color: #bbc2ca;
    padding-top: 4%;
    padding-bottom: 2%;
    box-shadow: 0px 2px 6px #5c5b5b;
}

.three-thingies-padding {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
}

.three-thingies-icons {
    width: 40%;
}


/* BUTTON */

.button {
    margin-top: 8rem;
    height: 7.5rem;
    border-width: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 0.5rem #5c5b5b;
}

.button h2 {
    /* top right bottom left */
    margin: 1.5rem 7rem 1.5rem 7rem;
    font-size: 2.5rem;
    color: #f5f5f5;
}


/* CAFETERIA DESCRIPTION */

.opening-hours-icon {
    width: 10rem;
    height: 10rem;
}

.opening-hours-label {
    margin-bottom: 7%;
}


/* ABOUT US */

.left {
    justify-content: left;
    text-align: left;
}

.about-content-1 {
    margin-top: 5rem;
}

.about-content-2 {
    margin-top: 12rem;
    margin-bottom: 10rem;
}

.about-text-positioning {
    margin-top: 8rem;
    margin-right: 8rem;
}


/* CONTACT US */

.map-snapshot {
    width: 50%;
}

.contact-padding {
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

/* FOOTER */

.footer {
    height: 13.5rem;
}
  
.footer-icon {
    float: left;
    height: 7.5rem;
    padding-left: 5rem;
}

.footer h5 {
    color: #f5f5f5;
    line-height: 3.5rem;
    font-size: 1.5rem;
}

.footer-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footer-links img {
    height: 3rem;
    width: 3rem;
    margin-right: 3rem;
}